{% extends "base.html.twig" %}

{% block body %}

<p id="title">Organised<span id="title-me">me</span></p>

<div id="presentation"> <span id="open">“</span><p><span id="organisedme">ORGANISEDME</span> est un outil en ligne qui a pour but de proposer à ses utilisateurs certaines fonctionnalités favorisant l'organisation tels qu'une <span id="bold">calculatrice</span>, une <span id="bold">horloge</span>, un <span id="bold">gestionnaire de tâches</span> ou encore un <span id="bold">gestionnaire de budget</span>.</p><span id="close">”</span></div>

<a id="linksite" href="#">> Accéder au site</a>

<footer>Site développé sous <a href="https://symfony.com/doc/current/index.html#gsc.tab=0">Symfony</a> - © 2020 <a href="https://github.com/lemaitresulivan/organisedme">Sulivan Le Maitre</a></footer>


{% endblock %}